@model novypokusicek.Models.Denik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Denik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RokVydani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RokVydani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nakladatelstvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nakladatelstvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocetStran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocetStran)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
